html {
    display: flex;
    justify-content: center;
    font-family: "Anton", sans-serif;
}

body {
    font-family: "Oswald", sans-serif;
    width: 100%;
    max-width: 84.06em;
}

.conteiner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 85.3rem;
    margin: 0 auto;
    /*border: 1px black solid;*/
}

.navigation {
    display: flex;
    justify-content: space-around;
    align-content: center;
    width: 30%;
    /*border: 1px black solid;*/
    flex-wrap: wrap;
}

.navigation a {
    text-decoration: none;
    color: black;
    font-size: 1em;
    font-weight: 500;
}

.navigation div {
    display: block;
}

.text-navigation {
    display: none;
}

h1 {
    margin-left: -20%;
    font-weight: 800;
    font-size: 1.5em;
    line-height: 1.75em;
    /*color: black;*/
}

.vektors {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /*border: 1px red solid;*/
    width: 15%;
}

.box {
    box-sizing: content-box;
    width: 70%;
    height: 70%;
}

.body-containers {
    width: 100%;
    max-width: 85.3em;
    margin: 0 auto;
    /*  border: 1px blue solid;  */
}

.start-conteiner {
    display: none;
    /*border: 1px blue solid;*/
}

.blocks {
    display: flex;
    justify-content: center;
    background: #F1F2F4;
}

.block-first {
    display: flex;
    flex-direction: column;
    width: 21.8em;
    /*border: 1px red solid;*/
}

.all-category-start-conteiner {
    display: flex;
    flex-direction: row;
    /*border: 1px greenyellow solid;*/
    padding: 1.25em;
    font-weight: 500;
    font-size: 1.2em;
    line-height: 1.3em;
    width: 19.3em;
}

.all-category-start-conteiner p {
    margin: 1%;
}

.denim {
    margin-left: 5%;
    width: 75%;
    height: 30%;
    line-height: 125%;
    font-weight: bold;
    font-size: 2em;
    /*border: 1px rgb(15, 15, 15) solid;*/
}

.block-second {
    width: 21.8em;
    height: 15.6em;
    /*border: 1px red solid;*/
    background-image: url("../images/want.png"), url("../images/line1.png"), url("../images/line3.png");
    background-repeat: no-repeat;
    background-position: center, bottom left, top right;
    background-size: 18.3em 16.25em, 11.1em 8.4em, 14.5em 11em;
}

.filter {
    margin: 2%;
    float: right;
    box-sizing: border-box;
    width: 100%;
    max-width: 15.1em;
    height: 3/1em;
    font-weight: 500;
    font-size: 1.2em;
}

.end-conteiner {
    width: 100%;
    max-width: 85.3em;
    /*  border: 1px black solid;  */
}

.grid {
    margin-left: 5%;
    margin-right: 5%;
    width: 100%;
    max-width: 85.3em;
    display: grid;
    grid-template-areas: "a b c d" " f m e e  " " g h e e ";
    grid-template-columns: 18.75em 18.75em 18.75em 18.75em;
    grid-template-rows: 25em 25em 25em ;
}
.grid figure{
    margin: 1.4em 1.4em;
}
#e{
    grid-area: 2 / 3 / span 2 / span 2;
}

#img {
    height: 23.1em;
}

#img-big {
    height: 43.3em;
}

.piccat {
    width: 12.4em;
    height: 16.8em;
}

.class-button li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;
}

.Showing {
    padding: 2%;
    font-weight: normal;
    font-size: 1.2em;
    line-height: 1.5em;
}

.more {
    font-weight: bold;
    font-size: 1em;
    line-height: 1.3em;
    color: white;
    background: #151C22;
    padding: 2%;
    max-width: 12.5em;
    width: 100%;
}

@font-face {
    font-family: "WorkSans";
    src: url("../fonts/WorkSans-Medium.eot");
    src: url("../fonts/WorkSans-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/WorkSans-Medium.ttf") format("truetype");
}

@media (min-width: 85.3rem) {
    html {
        width: 84.06em;
    }
    .piccat {
        width: 15.1em;
        height: 16.8em;
    }
    .piccat-big {
        width: 34.5em;
        height: 41.8em;
    }
}

@media (max-width: 85.3rem) {
    html {
        width: 48em;
    }
    .piccat {
        width: 12.8em;
        height: 15em;
    }
    .piccat-big {
        width: 27.6em;
        height: 38.8em;
    }
}

@media (min-width: 48rem) {
    .start-conteiner {
        display: block;
    }
    .navigation div {
        display: none;
    }
    .text-navigation {
        display: block;
    }
}

@media (max-width: 48rem) {}

@media (max-width: 20rem) {
    html {
        width: 20rem;
    }
    .piccat {
        width: 8.1em;
        height: 10em;
    }
    .piccat-big {
        width: 18.1em;
        height: 27.6em;
    }
}